// Configs
@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

.container {
    @include outer-container; 
    @include media($medium-screen) {
	padding-top: 0px;
    }
    padding-top: 200px;
    .hero {
	@include span-columns(8);
	@include shift(2);
	@include media($medium-screen) {
	    @include span-columns(8);
	    @include shift(0);
	}
    }
    #logo {
	text-align: center;
	@include span-columns(3 of 8);
	@include media($medium-screen) {
	    @include span-columns(8);
	}
	img {
	    width: 100%;
	    @include media($medium-screen) {
		width: 300px;
	    }
	}
    }
}

 #hero-text {
	text-align: center;
	@include span-columns(5 of 8);
	h1 {
	    margin-bottom: 25px;
	}
	@include media($medium-screen) {
	    @include span-columns(8);
	}
	form {
	    padding: 0 20px;
	    input {
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
	    }
	}
    }

 #hero-text {
     padding: 0 20px;
 }